@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ======= top ======= */

.body {
  background-image: url('../assets/homepage.jpg');
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
}

/* ====== greeting and choices ======= */
.greeting {
  font-family: 'Indie Flower', cursive;
  color: #FF9F45;
  font-size: 2.5rem;
  font-weight: lighter;
  text-align: center;
  padding-top: 50px;
}

.explodeButton {
  position: absolute;
  bottom: 70px;
  margin-left: 520px;
  width: 200px;
  background-color: #121212;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.createRoom,
.joinRoom,
.joinRand {
  width: 30%;
  align-self: center;
  font-family: 'Indie Flower', cursive;
  text-transform: none;
  color: white;
  font-size: 20px;
}

.createRoom:hover,
.joinRoom:hover,
.joinRand:hover {}

.createRoom {
  background-color: #219F94;
}

.createRoom:hover {
  background-color: darkcyan;

}

.joinRoom {
  background-color: #FF9F45;
}

.joinRand {
  background-color: #066163;
}